<ion-header translucent>
  <ion-toolbar>
    <ion-title>Nouvelle dépense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form #addExpense='ngForm' (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position='floating'>Nom</ion-label>
            <ion-input id="name"
            type="text"
            required
            [(ngModel)]="expenseName"
            name="expenseNameField"
            #expenseNameField="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position='floating'>Montant</ion-label>
            <ion-input id="name"
            type="number"
            required
            [(ngModel)]="expenseAmount"
            name="expenseAmountField"
            #expenseAmountField="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position='floating'>Date</ion-label>
            <ion-datetime displayFormat="YYYY MM DD"
            [(ngModel)]="expenseDate"
            name="expenseDateField"
            #expenseDateField="ngModel"
            ></ion-datetime>
          </ion-item>
          <ion-button *ngIf="!expenseEdit" type="submit" expand="block">Ajouter la dépense</ion-button>
          <ion-button *ngIf="expenseEdit" type="submit" expand="block">Modifier la dépense</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
