<ion-header>
  <ion-toolbar>
    <ion-title>{{ currentMonth | dateToMonth }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Total : </ion-card-subtitle>
            <ion-card-title>{{ total}} € </ion-card-title>
            <ion-card-subtitle>Restant : </ion-card-subtitle>
            <ion-card-title>{{ restant }} € ({{ restantPourcent}}%)</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="expenseList && expenseList.length>0">
    <app-expense *ngFor="let e of expenseList" [expense]="e"></app-expense>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
