<ion-item-sliding *ngIf="expenseOBJ">
  <ion-item>
    <ion-label>
      <h3>{{ expenseOBJ.name }}</h3>
      <p>{{ expenseOBJ.date | date }}</p>
    </ion-label>
    <ion-note slot="end">{{ expenseOBJ.amount }}€</ion-note>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="onDelete()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
  <ion-item-options side="start">
    <ion-item-option color="primary" (click)="onEdit()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>