<ion-header translucent>
  <ion-toolbar>
    <ion-title>Modification du mot de passe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #editPass="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Ancien mot de passe</ion-label>
      <ion-input id="old"
      type="password"
      required
      [(ngModel)]="oldPass"
      name="oldField"
      #oldField="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nouveau mot de passe</ion-label>
      <ion-input id="new"
      type="password"
      required
      [(ngModel)]="newPass"
      name="newField"
      #newField="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmation</ion-label>
      <ion-input id="conf"
      type="password"
      required
      [(ngModel)]="newPassConfir"
      name="confField"
      #confField="ngModel"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" >OK</ion-button>
  </form>
</ion-content>