<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mois
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="monthList && monthList.length>0">
          <ion-item *ngFor="let month of monthList">
            <ion-label>{{ month.name}}</ion-label>
            <ion-note slot="end" color="primary">{{ month.total }} €</ion-note>
          </ion-item>
        </ion-list>
        <ion-item *ngIf="!monthList || monthList.length<1">
          <ion-label>
            <p>Il n'y a pas de dépense enregistrer pour l'instant</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
