<ion-item-sliding *ngIf="expense">
  <ion-item>
    <ion-label>
      <h3>{{ expense.name }}</h3>
      <p>{{ expense.date | date }}</p>
    </ion-label>
    <ion-note slot="end">{{ expense.amount }}€</ion-note>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
  <ion-item-options side="start">
    <ion-item-option color="primary">
      <ion-icon name="create-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
